<?xml version="1.0" encoding="UTF-8"?>
	<!DOCTYPE mapper
  	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  	"https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  		  <mapper namespace="com.winter.app.board.notice.NoticeDAO">
  		  <!--list  -->
  		  <select id="getList" resultType="NoticeDTO" parameterType="Pager">
  		  SELECT * FROM 
  		  (SELECT ROWNUM R , NO.* FROM
  		  	(
  		  		SELECT * FROM NOTICE 
  		  	
  		 	 ORDER BY NOTICENUM DESC
  		 	 )
  		 	NO)
  		  WHERE R BETWEEN #{startRow} AND #{lastRow}
   		  </select>
  		  
  		  <select id="getDetail" parameterType="BoardDTO" resultMap="getDetailResult">
  		  SELECT * FROM NOTICE LEFT JOIN NOTICEFILES NF 
  		  USING(NOTICENUM) WHERE NOTICENUM = #{noticeNum}
  		  </select>
  		  <resultMap type="NoticeDTO" id="getDetailResult">
  		  <id column="NOTICENUM"  property="noticeNum"/>
  		  <result column="NOTICEWRITER" property="noticeWriter"/>
  		  <result column="NOTICEHEAD"  property="noticeHead"/>
  		  <result column="NOTICECONTENTS" property="noticeContents"/>
  		  <result column="NOTICEDATE" property="noticeDate"/>
  		  <result column="NOTICEVIEWS" property="noticeViews"/>
  		  <collection property="fileDTOs" javaType="List" ofType="BoardFileDTO">
  		  <id column="FILENUM" property="fileNum"/>
  		  <result column="FILENAME" property="fileName"/>
  		  <result column="ORINAME" property="oriName"/>
  		  </collection>
  		  </resultMap>
  		  
  		  
  		  
  		  
  		  
  		  
  		  
  		  
  		  
  		  
  		  
  		  
  		  </mapper>	