<?xml version="1.0" encoding="UTF-8"?>
	<!DOCTYPE mapper
  	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  	"https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  		  <mapper namespace="com.winter.app.board.notice.NoticeDAO">
  		  
  		  
  		  <update id="setUpdate" parameterType="BoardDTO">
  		  UPDATE NOTICE
  		  <set>
  			  <if test="noticeHead != null and noticeHead !=''" >
  		 	 NOTICEHEAD=#{noticeHead},
  		 	 </if>
  		  	<if test="noticeContents != null">
  		 	 NOTICECONTENTS=#{noticeContents}
  		  	</if>
  		  </set> 
  		  WHERE NOTICENUM = #{noticeNum}
  		  </update>
  		  
  		  
  		  
  		  <!--notice table delete -->
  		  <delete id="setDelete" parameterType="BoardDTO">
  		  DELETE NOTICE WHERE NOTICENUM=#{noticeNum}
  		  </delete>
  		  <!--file table delete  -->
  		  <delete id="setFileDelete" parameterType="BoardDTO">
  		  DELETE NOTICEFILES WHERE NOTICENUM = #{noticeNum}
  		  </delete>
  		  
  		  <!--file delte   -->
  		  <select id="getFileList" parameterType="BoardDTO" resultType="BoardFileDTO">
  		  	SELECT FILENAME FROM NOTICEFILES WHERE NOTICENUM = #{noticeNum}
  		  </select>
  		  
  		  
  		  <!-- file Add -->
  		  <insert id="setFileAdd" parameterType="BoardFileDTO">
  		  	INSERT INTO NOTICEFILES VALUES(NOTICE_SEQ.NEXTVAL,#{fileName},#{oriName},#{noticeNum})
  		  </insert>
  		  
  		  
  		  <!--list  -->
  		  <select id="getList" resultType="NoticeDTO" parameterType="Pager">
  		  SELECT * FROM 
  		  (SELECT ROWNUM R , NO.* FROM
  		  	(
  		  		SELECT * FROM NOTICE 
  		  	
  		 	 ORDER BY NOTICENUM DESC
  		 	 )
  		 	NO)
  		  WHERE R BETWEEN #{startRow} AND #{lastRow}
   		  </select>
  		  
  		  <select id="getDetail" parameterType="BoardDTO" resultMap="getDetailResult">
  		  SELECT * FROM NOTICE LEFT JOIN NOTICEFILES NF 
  		  USING(NOTICENUM) WHERE NOTICENUM = #{noticeNum}
  		  </select>
  		  <resultMap type="NoticeDTO" id="getDetailResult">
  		  <id column="NOTICENUM"  property="noticeNum"/>
  		  <result column="NOTICEWRITER" property="noticeWriter"/>
  		  <result column="NOTICEHEAD"  property="noticeHead"/>
  		  <result column="NOTICECONTENTS" property="noticeContents"/>
  		  <result column="NOTICEDATE" property="noticeDate"/>
  		  <result column="NOTICEVIEWS" property="noticeViews"/>
  		  <collection property="fileDTOs" javaType="List" ofType="BoardFileDTO">
  		  <id column="FILENUM" property="fileNum"/>
  		  <result column="FILENAME" property="fileName"/>
  		  <result column="ORINAME" property="oriName"/>
  		  </collection>
  		  </resultMap>
  		  
  		  <insert id="setAdd" parameterType="BoardDTO">
  		  <selectKey keyProperty="noticeNum" resultType="Long" order="BEFORE">
  		  SELECT NOTICE_SEQ.NEXTVAL FROM DUAL
  		  </selectKey>
  		  INSERT INTO NOTICE VALUES(#{noticeNum},#{noticeWriter},#{noticeHead},#{noticeContents},SYSDATE,0)
  		  </insert>
  		  
  		  
  		  
  		  
  		  
  		  
  		  
  		  
  		  
  		  
  		  </mapper>	