<?xml version="1.0" encoding="UTF-8"?>
	<!DOCTYPE mapper
  	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  	"https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  		  <mapper namespace="com.winter.app.board.qna.QnaDAO">
  		  <select id="getList" resultType="QnaDTO" parameterType="Pager">
  		  SELECT * FROM
  		  (SELECT ROWNUM R , Q.* FROM
  		  (SELECT * FROM QNA ORDER BY NOTICENUM DESC)Q)
  		  WHERE R BETWEEN #{startRow} AND #{lastRow}
  		  </select>
  		  
  		  <select id="getDetail" parameterType="QnaDTO" resultType="QnaDTO">
  		  SELECT * FROM Qna LEFT JOIN NOTICEFILES NF 
  		  USING(NOTICENUM) WHERE NOTICENUM = #{noticeNum}
  		  </select>
  		  
  		  </mapper>	