<?xml version="1.0" encoding="UTF-8"?>
	<!DOCTYPE mapper
  	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  	"https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  	
  		  <mapper namespace="com.winter.app.product.ReplyDAO">
  		  
  		  
  		  
  		  <delete id="setDelete" parameterType="ReplyDTO">
  		  DELETE REPLY WHERE REPLYNUM = #{replyNum}
  		  </delete> 
  		  
  		  
  		  <select id="totalCount" parameterType="ReplyDTO" resultType="Long">
  		  SELECT COUNT(PRODUCTNUM) FROM REPLY WHERE PRODUCTNUM = #{productNum}
  		  </select>
  		  
  		  
  		  
  		  <select id="setList" parameterType="Map" resultType="ReplyDTO">
  		  SELECT * FROM
  		  (SELECT ROWNUM R , RP.* FROM
  		  (SELECT * FROM REPLY WHERE PRODUCTNUM = #{replyDTO.productNum}
  		  ORDER BY REPLYNUM DESC) RP)
  		  WHERE R BETWEEN #{pager.startRow} AND #{pager.lastRow}
  		  </select>
  		  
  		  <insert id="setReply" parameterType="ReplyDTO" >
  		  INSERT INTO REPLY VALUES
  		  (PRODUCT_SEQ.NEXTVAL,#{productNum},#{userName},
  		  #{replyContents},SYSDATE,#{replyJumsu})
  		  </insert>
  		  
  		  </mapper>	